.border-success.shadow-sm {
  border-radius: 25px;
  border: inset;
}

.border-info.shadow-sm {
  border-radius: 25px;
  border: inset;
}

.border-secondary.shadow-sm {
  border-radius: 25px;
  border: inset;
}

.border-danger.shadow-sm {
  border-radius: 25px;
  border: inset;
}

.border-primary.shadow-sm {
  border-radius: 25px;
  border: inset;
}

.navbar.navbar-dark.navbar-expand.border.rounded.shadow-sm.navigation-clean {
  border-radius: 30px;
  border: inset;
}

.table-sm td, .table-sm th {
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(52,73,94);
}

