.table-sm td, .table-sm th {
  font-size: 12px;
  border: 10px solid white;
  border-radius: 21px;
}

.table-danger {
  background-color: red;
  color: white;
}

.table-success {
  background-color: green;
  color: white;
}

.table-active {
  background-color: grey;
  color: white;
}

.table-warning {
  background-color: yellow;
  color: black;
}

#col_data {
  background-color: #8f8f8f;
  color: #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

