{% extends "index.html" %}
{% block title %}Cadastro Conta Caixa{% endblock title %}
{% block content %}

<div class="container border rounded shadow-sm" style="margin-top: 10px;margin-bottom: 10px;padding-bottom: 15px;">
    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 0px;">Dados da Conta Caixa</h4>
    <hr style="margin-top: 5px;">
    <form>
        <div class="form-row">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Conta caixa</strong></label></div>
            <div class="col-12 col-lg-5 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
            <div class="col-12 col-lg-1 d-lg-flex d-xl-flex justify-content-lg-end justify-content-xl-end align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Senha</strong></label></div>
            <div class="col-12 col-lg-4 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
        <div class="form-row" style="margin-top: 5px;">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Filial</strong></label></div>
            <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
            <div class="col-1 d-lg-flex align-items-lg-center" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-success" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;padding: 0px;">↓<br></button></div>
            <div class="col-12 col-lg-8 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
        <div class="form-row" style="margin-top: 5px;">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Operador do Caixa</strong></label></div>
            <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
            <div class="col-1 d-lg-flex align-items-lg-center" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-success" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;padding: 0px;">↓<br></button></div>
            <div class="col-12 col-lg-8 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
    </form>
</div>
<div class="container" style="padding-top: 15px;padding-right: 0px;padding-left: 0px;">
    <div class="row">
        <div class="col-lg-6">
            <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 20px;">
                <p class="text-center" style="margin-bottom: 0px;"><strong>Tipo de Caixa</strong></p>
                <hr style="margin-top: 5px;">
                <form class="text-capitalize d-flex d-md-flex justify-content-center">
                    <div class="col d-xl-flex justify-content-xl-center">
                        <form class="text-capitalize d-md-flex">
                            <div class="form-check d-xl-flex justify-content-xl-start" style="margin-right: 30px;"><input class="form-check-input" type="radio" name="tipo" value="1" id="tipo-1"><label class="form-check-label" for="tipo-1" style="font-weight: bold;">Por filial</label></div>
                            <div class="form-check" style="margin-right: 30px;"><input class="form-check-input" type="radio" name="tipo" value="2" id="tipo-2"><label class="form-check-label" for="tipo-2" style="font-weight: bold;">por operador</label></div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 20px;">
                <p class="text-center" style="margin-bottom: 0px;"><strong>Status</strong></p>
                <hr style="margin-top: 5px;">
                <form class="text-capitalize d-md-flex justify-content-xl-center">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1"><strong>A conta está ativa</strong></label></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Gravar&nbsp;</button></div>
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Desfazer</button></div>
</div>

{% endblock %}