{% extends "index.html" %}
{% block title %}Cadastro Despesa Viagem{% endblock title %}
{% block content %}

<div class="container border rounded shadow-sm" style="margin-top: 10px;margin-bottom: 10px;padding-bottom: 15px;">
    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 0px;">Dados da Despesa</h4>
    <hr style="margin-top: 5px;">
    <form>
        <div class="form-row">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Descrição da despesa</strong></label></div>
            <div class="col-12 col-lg-10 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
        <div class="form-row" style="margin-top: 5px;">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>C. Custo Frota Própria</strong></label></div>
            <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
            <div class="col-1 d-lg-flex align-items-lg-center" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-success" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;padding: 0px;"><i class="la la-download"></i><br></button></div>
            <div class="col-10 col-lg-8 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
        <div class="form-row" style="margin-top: 5px;">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>C. Custo Frota Terceiro</strong></label></div>
            <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
            <div class="col-1 d-lg-flex align-items-lg-center" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-success" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;padding: 0px;"><i class="la la-download"></i><br></button></div>
            <div class="col-10 col-lg-8 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;"></div>
        </div>
        <div class="form-row" style="margin-top: 5px;">
            <div class="col-12 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>Controle Despesas</strong></label></div>
            <div class="col-2 col-lg-10">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;padding-top: 15px;padding-bottom: 15px;"></button>
                    <div class="dropdown-menu"
                         role="menu">
                        <a class="dropdown-item" role="presentation" href="#">1. COMBUSTÍVEL</a><a class="dropdown-item" role="presentation" href="#">2. OUTRAS DESPESAS</a><a class="dropdown-item" role="presentation" href="#">3. ADIANTAMENTO MOTORISTA</a><a class="dropdown-item"
                                                                                                                                                                                                                                                                  role="presentation" href="#">4. PROVISAO VIAGEM</a><a class="dropdown-item" role="presentation" href="#">5. REEMBOLSO</a><a class="dropdown-item" role="presentation" href="#">6. REVOLUÇÃO</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Gravar&nbsp;</button></div>
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Desfazer</button></div>
</div>

    {% endblock %}
