{% extends "index.html" %}
{% block title %}Cadastro Cliente{% endblock title %}
{% block content %}
    <div class="container border rounded shadow-sm" style="padding-bottom: 5px;padding-top: 5px;margin-top: 10px;">
        <h4 class="text-center" style="margin-top: 10px;">Dados Principais</h4>
        <hr style="margin-top: 0px;">
        <form>
            <div class="form-row flex-column flex-lg-row" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-auto col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Código Cliente</strong></label></div>
                <div class="clearfix"></div>
                <div class="col-auto col-sm-auto col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="clearfix"></div>
                <div class="col-auto col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Razão Social</strong></label></div>
                <div class="clearfix"></div>
                <div class="col-auto col-sm-auto col-lg-6" style="font-size: 14px;"><input class="form-control" type="text" style="padding-bottom: 15px;"></div>
            </div>
            <div class="form-row flex-column flex-lg-row" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-auto col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Grupo Econômico</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-auto col-sm-auto col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="clearfix"></div>
                <div class="col-auto col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Nome Fantasia</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-auto col-sm-auto col-lg-6" style="font-size: 14px;"><input class="form-control" type="text" style="padding-bottom: 15px;"></div>
            </div>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Tipo Cliente</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Cep/Endereço</strong></label></div>
                <div class="clearfix"></div>
                <div class="col-4 col-lg-1" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="col-8 col-lg-5" style="font-size: 14px;"><input class="form-control" type="text"></div>
            </div>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>CPF / CNPJ</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Complemento/ Nr.</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-8 col-lg-5" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="col-4 col-lg-1" style="font-size: 14px;"><input class="form-control" type="text"></div>
            </div>
            <div class="form-row" style="margin-top: 10px;">
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Classe Cliente / Status</strong><br></label></div>
                <div class="col-6 col-lg-1" style="font-size: 14px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <div class="col-6 col-lg-1" style="font-size: 14px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Bairro</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-6" style="font-size: 14px;"><input class="form-control" type="text" style="padding-bottom: 15px;"></div>
            </div>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="col-12 col-lg-2" style="font-size: 14px;margin-top: 10px;"><label class="col-form-label"><strong>Classificação</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;margin-top: 10px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;margin-top: 10px;"><label class="col-form-label"><strong>Cidade</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;margin-top: 10px;"><input class="form-control" type="text"></div>
                <div class="col-1" style="margin-top: 10px;"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
                <div class="col-9 col-lg-3" style="font-size: 14px;margin-top: 10px;"><input class="form-control" type="text"></div>
                <div class="col-3 col-lg-1" style="font-size: 14px;margin-top: 10px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 10px;">
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>I.E.</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="clearfix"></div>
                <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Geolocalização</strong><br></label></div>
                <div class="clearfix"></div>
                <div class="col-4 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="col-4 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
                <div class="col-4 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text"></div>
            </div>
        </form>
    </div>
    <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
        <h4 class="text-center">Dados de Contato do Cliente</h4>
        <div class="row">
            <div class="col-12 col-lg-2 text-center" style="margin-top: 10px;">
                <button class="btn btn-primary text-left" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);margin-bottom: 7px;padding-right: 0px;padding-left: 17px;"><img src="{{ url_for('static', filename='img/add.png')}}" style="width: 25%;">&nbsp;Novo &nbsp; &nbsp;&nbsp;</button>
                <button class="btn btn-primary text-left" type="button" style="color: rgb(0,0,0);margin-bottom: 7px;background-color: rgb(255,255,255);padding-right: 0px;">
                    &nbsp;<img src="{{ url_for('static', filename='img/editar.png')}}" style="width: 25%;">Editar &nbsp; &nbsp; &nbsp;
                </button><button class="btn btn-primary text-left" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);margin-bottom: 7px;padding-right: 0px;">&nbsp;<img src="{{ url_for('static', filename='img/visualizar.png')}}" style="width: 25%;">Visualizar</button>
                <button class="btn btn-primary text-left" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);margin-bottom: 7px;padding-right: 0px;padding-left: 15px;">
                    <img src="{{ url_for('static', filename='img/excluir.png')}}" style="width: 25%;">&nbsp;Excluir &nbsp; &nbsp;
                </button>
            </div>
            <div class="col-12 col-lg-5" style="margin-top: 10px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome do Contato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell 1</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-5" style="margin-top: 10px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Detalhe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;margin-top: 15px;">
        <div>
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-1">Endereços do Cliente</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-2">Pré Alertas</a></li>
                <li class="nav-item"><a class="nav-link disabled" role="tab" data-toggle="pill" href="#tab-3">Movimentação Financeira</a></li>
                <li class="nav-item"><a class="nav-link disabled" role="tab" data-toggle="pill" href="#tab-4">Log de Atividades</a></li>
                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-5">Vendedores</a></li>
                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-6">Parâmetro de Rota</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Bairro</th>
                                    <th>Cód</th>
                                    <th>Cidade</th>
                                    <th>UF</th>
                                    <th>DDD</th>
                                    <th>Telefone</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Zoom</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                    <td>Cell 6</td>
                                    <td>Cell 7</td>
                                    <td>Cell 8</td>
                                    <td>Cell 9</td>
                                    <td>Cell 10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ativo</th>
                                    <th>Notificação</th>
                                    <th>Email</th>
                                    <th>Tipo Host</th>
                                    <th>Host</th>
                                    <th>Usuário</th>
                                    <th>Senha</th>
                                    <th>Porta</th>
                                    <th>Cód. Acesso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                    <td>Cell 6</td>
                                    <td>Cell 7</td>
                                    <td>Cell 8</td>
                                    <td>Cell 9</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-3">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ativo</th>
                                    <th>Código</th>
                                    <th>Descrição/Nome</th>
                                    <th>Email</th>
                                    <th>Último Envio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-4">
                    <p>Content for tab 3.</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-5">
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Ativo</th>
                                    <th>Código</th>
                                    <th>Descrição/Nome</th>
                                    <th>Email</th>
                                    <th>Último Envio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>Cell 2</td>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-6">
                    <h5 class="text-left" style="margin-top: 10px;">Dados de Contato do Cliente</h5>
                    <form>
                        <div class="form-row" style="margin-bottom: 10px;">
                            <div class="col-12 col-lg-2"><label class="col-form-label"><strong>Veículo Rota</strong></label></div>
                            <div class="col-11 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;margin-bottom: 10px;"><input class="form-control" type="text" style="width: 100%;"></div>
                            <div class="col-1" style="margin-bottom: 10px;"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
                            <div class="col-10 col-lg-6"><input class="form-control" type="text" style="width: 100%;"></div>
                            <div class="col-2 col-lg-1">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="margin-bottom: 10px;">
                            <div class="col-12 col-lg-2"><label class="col-form-label"><strong>Motorista Rota</strong><br></label></div>
                            <div class="col-11 col-lg-2 d-xl-flex align-items-xl-center" style="font-size: 14px;margin-bottom: 10px;"><input class="form-control" type="text" style="width: 100%;"></div>
                            <div class="col-1" style="margin-bottom: 10px;"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
                            <div class="col-12 col-lg-7"><input class="form-control" type="text" style="width: 100%;"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container border rounded shadow-sm" style="margin-top: 15px;padding-top: 10px;margin-bottom: 15px;padding-bottom: 10px;">
        <form>
            <div class="form-row" style="margin-bottom: 15px;">
                <div class="col-12 col-lg-9">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Cliente requer a seuinte observção:</label></div><textarea class="form-control"></textarea>
                </div>
                <div class="col-7 col-md-5 col-lg-3 d-xl-flex flex-column align-self-center mx-auto"><label style="font-size: 14px;width: 100%;"><strong>Regras de Faturamento</strong></label><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;">Parâmetros do Cliente</button></div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 20px;">
        <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Gravar&nbsp;</button></div>
        <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/undo.png')}}" style="width: 20%;">&nbsp; Desfazer</button></div>
    </div>
{% endblock %}