{% extends "index.html" %}
{% block title %}Cadastro Empresa{% endblock title %}
{% block content %}

<div class="container" style="padding-top: 15px;padding-right: 0px;padding-left: 0px;">
    <div class="row">
        <div class="col-12 col-lg-9" style="padding-top: 15px;">
            <div class="container border rounded shadow-sm align-items-xl-center" style="padding-top: 10px;padding-bottom: 20px;">
                <div class="row">
                    <div class="col-1 text-right"><input type="checkbox"></div>
                    <div class="col">
                        <p class="text-left align-items-lg-start" style="margin-bottom: 0px;"><strong>(Empresa Ativa) Dados da Empresa</strong></p>
                    </div>
                </div>
                <hr style="margin-top: 5px;">
                <form class="form-inline text-capitalize d-md-flex">
                    <div class="form-row flex-fill" style="margin-bottom: 10px;">
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>CNPJ</strong><br></label></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>razão Social</strong><br></label></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-6" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                    <div class="form-row flex-fill" style="margin-bottom: 10px;">
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Código</strong></label></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Nome Fantasia</strong></label></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-6" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                    <div class="form-row flex-fill">
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>I.E.</strong><br></label></div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="col-12 col-lg-2" style="font-size: 14px;"><label class="col-form-label"><strong>Cidade</strong><br></label></div>
                        <div class="clearfix"></div>
                        <div class="col-11 col-lg-1 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="col-1"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
                        <div class="col-8 col-lg-3" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="col-4 col-lg-1 align-items-center align-items-xl-center" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3" style="padding-top: 15PX;">
            <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 0px;">
                <p class="text-center align-items-lg-start" style="margin-bottom: 0px;"><strong>Logotipo Empresa</strong></p>
                <hr style="margin-top: 5px;">
                <div class="row d-xl-flex">
                    <div class="col-12">
                        <form>
                            <label class="btn btn-warning add-file w-100" style="background-color: rgb(255,255,255);color: rgb(0,0,0);">
                                <i class="fa fa-star fa-plus" style="padding-right: 7px;"></i><span style="font-size: 15px;"><strong>Selecionar Imagem</strong></span>
                                <input type="file" accept="image/*" onchange="readURL(this);" hidden>
                            </label>
                        </form>

                    </div>
                    <div class="col-12 text-center"><img class="rounded img-fluid" id="logotipo_img" style="height: 90px;margin-bottom: 10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center" style="padding-right: 0PX;padding-left: 0PX;padding-bottom: 15px;">
    <div class="col-12 col-lg-4" style="padding-top: 15px;padding-left: 0PX;">
        <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 15px;padding-right: 10px;padding-left: 10px;">
            <p class="text-center" style="margin-bottom: 0px;"><strong>RNTRC</strong></p>
            <hr style="margin-top: 5px;">
            <div class="col-12" style="font-size: 14px;padding-left: 0px;padding-right: 0px;">
                <form class="form-inline d-md-flex">
                    <div class="form-row flex-fill">
                        <div class="col-6 col-lg-6 d-xl-flex justify-content-xl-center align-items-xl-center">
                            <p style="font-size: 14px;"><strong>Crédito Presumido</strong></p>
                        </div>
                        <div class="col-6 col-lg-6">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">ETC</a><a class="dropdown-item" role="presentation" href="#">TAC</a><a class="dropdown-item" role="presentation" href="#">CTC</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-fill" style="margin-top: 10px;">
                        <div class="col-6 col-lg-6 d-xl-flex justify-content-xl-center align-items-xl-center">
                            <p style="font-size: 14px;"><strong>RNTRC / VALIDAE</strong></p>
                        </div>
                        <div class="col-6 col-lg-6"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4" style="padding-top: 15px;">
        <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;">
            <p class="text-center" style="margin-bottom: 0px;"><strong>Outros</strong></p>
            <hr style="margin-top: 5px;">
            <form class="justify-content-xl-center align-items-xl-center">
                <div class="form-row d-xl-flex justify-content-xl-center">
                    <div class="col-12">
                        <div class="form-row text-left flex-fill">
                            <div class="col-2 col-lg-6 d-xl-flex justify-content-xl-end">
                                <p style="font-size: 14px;"><strong>Crédito Presumido</strong></p>
                            </div>
                            <div class="col-10 col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                                    <div class="dropdown-menu"
                                         role="menu"><a class="dropdown-item" role="presentation" href="#">SIM</a><a class="dropdown-item" role="presentation" href="#">NÃO</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row flex-fill" style="margin-top: 5px;">
                            <div class="col-2 col-lg-6 d-xl-flex justify-content-xl-end">
                                <p style="font-size: 14px;"><strong>Perfil SPED</strong></p>
                            </div>
                            <div class="col-10 col-lg-6">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);width: 100%;"></button>
                                    <div class="dropdown-menu"
                                         role="menu"><a class="dropdown-item" role="presentation" href="#">A</a><a class="dropdown-item" role="presentation" href="#">B</a><a class="dropdown-item" role="presentation" href="#">C</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-4" style="padding-top: 15px;padding-right: 0PX;">
        <div class="row flex-fill">
            <div class="col-12">
                <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 50px;padding-right: 10px;padding-left: 10px;">
                    <p class="text-center" style="margin-bottom: 0px;"><strong>Regime Tributação</strong></p>
                    <hr style="margin-top: 5px;">
                    <div class="col-12 d-xl-flex justify-content-xl-center" style="font-size: 14px;padding-left: 0px;padding-right: 0px;">
                        <form class="form-inline text-capitalize d-md-flex" style="width: 120px;">
                            <div class="form-check d-xl-flex justify-content-xl-start" style="margin-right: 30px;"><input class="form-check-input" type="radio" name="tributacao" value="1" id="RadioTributacao-1"><label class="form-check-label text-nowrap" for="RadioTributacao-1" style="font-weight: bold;">1- Simples</label></div>
                            <div class="form-check d-xl-flex justify-content-xl-start" style="margin-right: 30px;"><input class="form-check-input" type="radio" name="tributacao" value="2" id="RadioTributacao-2"><label class="form-check-label text-nowrap" for="RadioTributacao-2" style="font-weight: bold;">2- Presumido</label></div>
                            <div class="form-check d-xl-flex justify-content-xl-start" style="margin-right: 30px;"><input class="form-check-input" type="radio" name="tributacao" value="3" id="RadioTributacao-3"><label class="form-check-label text-nowrap" for="RadioTributacao-3" style="font-weight: bold;">3- Lucro Real</label></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container border rounded shadow-sm" style="padding-top: 10px;">
    <p class="text-center" style="margin-bottom: 0px;"><strong>Aliquota Simples Nacional</strong></p>
    <hr style="margin-top: 5px;">
    <form class="form-inline text-capitalize d-md-flex">
        <div class="form-row d-xl-flex flex-fill">
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-xl-flex justify-content-end justify-content-xl-end align-items-xl-center" style="font-size: 14px;padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>ICMS</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-lg-flex justify-content-end justify-content-xl-end align-items-xl-center" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>IPI</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-lg-flex justify-content-lg-end justify-content-xl-end align-items-xl-center" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>COFINS</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-xl-end align-items-xl-center"
                 style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>CPP</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
        </div>
        <div class="form-row d-xl-flex flex-fill">
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-xl-flex justify-content-end justify-content-xl-end align-items-xl-center" style="font-size: 14px;padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>IRPJ</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-lg-flex justify-content-end justify-content-xl-end align-items-xl-center" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>CSLL</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-sm-flex d-lg-flex justify-content-end justify-content-sm-end justify-content-lg-end justify-content-xl-end align-items-xl-center"
                 style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>PIS</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 5px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
            <div class="col-2 col-sm-1 col-lg-1 d-flex d-sm-flex d-md-flex justify-content-end align-items-xl-center" style="padding-left: 0px;padding-right: 0px;padding-bottom: 15px;"><label class="col-form-label text-capitalize d-xl-flex" style="font-size: 13px;"><strong>RESERVADO</strong></label></div>
            <div class="col-10 col-sm-5 col-lg-2 d-flex d-xl-flex align-items-center align-items-xl-center" style="font-size: 14px;padding-right: 0px;padding-left: 5px;padding-bottom: 15px;"><input class="form-control" type="text" disabled="" style="padding-bottom: 0px;padding-top: 0px;width: 100%;"></div>
        </div>
    </form>
</div>
<div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;margin-top: 15px;">
    <div class="row">
        <div class="col-1 text-right"><input type="checkbox"></div>
        <div class="col">
            <p class="text-left align-items-lg-start" style="margin-bottom: 0px;"><strong>Observarções Simples &nbsp;Nacional</strong></p>
        </div>
    </div>
    <hr style="margin-top: 5px;">
    <form>
        <div class="form-row flex-fill" style="margin-bottom: 10px;">
            <div class="col-12 col-lg-2 text-center" style="font-size: 14px;"><label class="col-form-label"><strong>Descrição</strong><br></label></div>
            <div class="clearfix"></div>
            <div class="col-12 col-lg-10" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
        </div>
    </form>
</div>
<div class="container" style="padding-right: 0px;padding-left: 0px;">
    <div class="row">
        <div class="col-12 col-lg-9" style="padding-right: 0px;">
            <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;margin-top: 16px;">
                <div class="row">
                    <div class="col">
                        <p class="text-center align-items-lg-start" style="margin-bottom: 0px;"><strong>Seguradora</strong></p>
                    </div>
                </div>
                <hr style="margin-top: 5px;">
                <form>
                    <div class="form-row flex-fill" style="margin-bottom: 10px;">
                        <div class="col-12 col-lg-2 text-center" style="font-size: 14px;"><label class="col-form-label"><strong>Seguradora Padrão</strong><br></label></div>
                        <div class="clearfix"></div>
                        <div class="col-11 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                        <div class="col-1"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
                        <div class="col-12 col-lg-7" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;margin-top: 16px;">
                <div class="row">
                    <div class="col">
                        <p class="text-center align-items-lg-start" style="margin-bottom: 0px;"><strong>Número Apólice</strong></p>
                    </div>
                </div>
                <hr style="margin-top: 5px;">
                <form>
                    <div class="form-row flex-fill" style="margin-bottom: 10px;">
                        <div class="col-12" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container border rounded shadow-sm" style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;padding-left: 10px;margin-top: 15px;">
    <div class="row">
        <div class="col">
            <p class="text-center align-items-lg-start" style="margin-bottom: 0px;"><strong>Contator</strong></p>
        </div>
    </div>
    <hr style="margin-top: 5px;">
    <form>
        <div class="form-row flex-fill" style="margin-bottom: 10px;">
            <div class="col-12 col-lg-2 text-center" style="font-size: 14px;"><label class="col-form-label"><strong>Cód. Contador</strong><br></label></div>
            <div class="clearfix"></div>
            <div class="col-11 col-lg-2" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
            <div class="col-1"><button class="btn btn-primary" type="button" style="background-color: rgb(255,255,255);color: rgb(0,0,0);padding: 0px;width: 100%;height: 100%;background-position: center;background-size: contain;background-repeat: no-repeat;font-size: 25px;">↓<br></button></div>
            <div class="col-12 col-lg-7" style="font-size: 14px;"><input class="form-control" type="text" style="width: 100%;"></div>
        </div>
    </form>
</div>
<div class="container border rounded shadow-sm" style="margin-top: 15px;">
    <div style="margin-top: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-1">Regime de Tributação</a></li>
            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-2">Acesso a Serviços de Terceiros Integrados ao Sistema</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="tab-1" style="padding-left: 0px;padding-bottom: 15px;">
                <form class="justify-content-xl-center align-items-xl-center">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Regime Tributario</th>
                                    <th>Início</th>
                                    <th>Incid. Tributária Pis/Cofins</th>
                                    <th>Aproprioção Crédito Pis/Cofins</th>
                                    <th>Tipo Contribuição Pis/Cofins</th>
                                    <th>Regime Cumulativo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 2</td>
                                    <td>Cell 2</td>
                                    <td>Cell 2</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                    <td>Cell 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="tab-pane active" role="tabpanel" id="tab-2">
                <form class="justify-content-xl-center align-items-xl-center">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Serviço</th>
                                    <th>Host</th>
                                    <th>Porta</th>
                                    <th>Usuário</th>
                                    <th>Senha</th>
                                    <th>Cód. Acesso (Token)</th>
                                    <th>Aéreo</th>
                                    <th>Rodoviário</th>
                                    <th>Minuta</th>
                                    <th>Manifesto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                    <td>Cell 5</td>
                                    <td>Cell 6</td>
                                    <td>Cell 9</td>
                                    <td>Cell 10</td>
                                    <td>Cell 13</td>
                                    <td class="text-center justify-content-xl-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                    <td>Cell 7</td>
                                    <td>Cell 8</td>
                                    <td>Cell 11</td>
                                    <td>Cell 12</td>
                                    <td>Cell 14</td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                    <td class="text-center">&nbsp;<input type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="margin-bottom: 20px;">
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Gravar&nbsp;</button></div>
    <div class="col-4 col-md-3 col-lg-2"><button class="btn btn-success d-xl-flex justify-content-xl-center align-items-xl-center" type="submit" style="background-color: rgb(255,255,255);color: rgb(0,0,0);"><img src="{{ url_for('static', filename='img/save.png')}}" style="width: 20%;">&nbsp; Desfazer</button></div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#logotipo_img')
                    .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}