<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='bordas_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Data-Table-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Data-Table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Header-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Features-Boxed.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Map-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Navigation-Clean-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Studious-selectfile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(73,98,116);height: 75px;">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center align-items-xl-center" href="/" style="color: rgb(255,255,255);font-size: 29px;background-size: contain;"><img src="{{ url_for('static', filename='img/icone.png')}}" width="50px" height="60px" style="background-size: contain;">Softlog</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: #eeeeee;">HOME</a></li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="color: rgb(255,255,255);">CADASTROS</a>
                            <div class="dropdown-menu border rounded shadow-sm" role="menu" style="background-color: rgb(73,98,116);">
                                <a class="dropdown-item" role="presentation" href="/form-cliente" style="color: rgb(255,255,255);">CLIENTE</a>
                                <a class="dropdown-item" role="presentation" href="/form-filial" style="color: rgb(255,255,255);">FILIAL</a>
                                <a class="dropdown-item" role="presentation" href="/form-empresa" style="color: rgb(255,255,255);">EMPRESA</a>
                                <a class="dropdown-item" role="presentation" href="/form-banco" style="color: rgb(255,255,255);">BANCO</a>
                                <a class="dropdown-item" role="presentation" href="/form-veiculo" style="color: rgb(255,255,255);">VEÍCULO</a>
                                <a class="dropdown-item" role="presentation" href="/form-agencia" style="color: rgb(255,255,255);">AGÊNCIA</a>
                                <a class="dropdown-item" role="presentation" href="/form-conta-corrente" style="color: rgb(255,255,255);font-size: 14px;">CONTA CORRENTE</a>
                                <a class="dropdown-item" role="presentation" href="/form-aeroporto" style="color: rgb(255,255,255);font-size: 14px;">AEROPORTOS</a>
                                <a class="dropdown-item" role="presentation" href="/form-despesa-viagem" style="color: rgb(255,255,255);font-size: 14px;">DESPESAS DE VIAGEM</a>
                                <a class="dropdown-item" role="presentation" href="/form-cidade" style="color: rgb(255,255,255);font-size: 14px;">CIDADES</a>
                                <a class="dropdown-item" role="presentation" href="/form-centro-custo" style="color: rgb(255,255,255);font-size: 14px;">CENTRO DE CUSTOS</a>
                                <a class="dropdown-item" role="presentation" href="/form-contas-a-pagar" style="color: rgb(255,255,255);font-size: 14px;">CONTAS A PAGAR</a>
                                <a class="dropdown-item" role="presentation" href="/landingpage" style="color: rgb(255,255,255);font-size: 14px;">LANDING PAGE</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div></div>
{% block content %}
    <div class="features-boxed" style="background-color: rgb(236,236,255);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 35px;margin-bottom: 10px;">SITE TESTE</h2>
                <p class="text-center" style="font-size: 19px;">Site teste criado para acompanhamento em tempo real do desenvolvimento da interface grafica da api Softlog. Nada aqui tem acesso ao banco de dados da empresa, é tudo apenas para demonstração visual.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Painel acompanhamento</h3><a href="/painel" class="learn-more">Veja mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Cliente</h3><a href="/form-cliente" class="learn-more">Veja mais »<br></a>
                    </div>
                </div> 
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Cidades</h3><a href="/form-cidade" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Filial</h3><a href="/form-filial" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Empresa</h3><a href="/form-empresa" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Veículo</h3><a href="/form-veiculo" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Banco</h3><a href="/form-banco" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Agência Bancária</h3><a href="/form-agencia" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Conta Corrente</h3><a href="/form-conta-corrente" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Aeroportos</h3><a href="/form-aeroporto" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Despesas de Viagem</h3><a href="/form-despesa-viagem" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Cadastro Centro de Custos</h3><a href="/form-centro-custo" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Contas a pagar</h3><a href="/form-contas-a-pagar" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>                
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="border rounded shadow box">
                        <h3 class="name">Landing page</h3><a href="/landingpage" class="learn-more">Veja mais »<br></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='Studious-selectfile.js') }}"></script>
</body>

</html>