<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='bordas_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Data-Table-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Data-Table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Header-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Features-Boxed.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Map-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body style="background-color: rgb(238,244,247);">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Softlog</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/">HOME</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="features-boxed" style="background-color: rgb(238,244,247);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Site teste</h2>
                <p class="text-center">Site teste criado para acompanhamento em tempo real do desenvolvimento da interface grafica da api Softlog</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Painel acompanhamento</h3><a href="/painel" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Form Cliente</h3><a href="/form-cliente" class="learn-more">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Form Filial</h3><a href="/form-filial" class="learn-more">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</body>

</html>