<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NFASoft</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bowlby+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Candal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chango">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/assets/css/ebs-contact-form-1.css">
    <link rel="stylesheet" href="/static/assets/css/ebs-contact-form.css">
    <link rel="stylesheet" href="/static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/static/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="/static/assets/css/MUSA_carousel-product-cart-slider-1.css">
    <link rel="stylesheet" href="/static/assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="/static/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/static/assets/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/assets/css/price.css">
    <link rel="stylesheet" href="/static/assets/css/Profile-Card-1.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md custom-header" id="inicio" style="padding-top: 0px;padding-bottom: 0px;background: #ffffff;">
        <div class="container-fluid">
            <div><img class="img-fluid" src="/static/assets/img/Marca%20NFA%20Soft%20(%20horizontal%20cor%20sólida%20).png" style="width: 271px;"></div>
            <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li class="nav-item"><a class="nav-link" href="http://www.softlog.eti.br/sobre-nos" style="background: transparent;font-size: 1.1rem;color: rgb(7,132,184);font-family: 'Source Sans Pro', sans-serif;" target="_blank">Sobre nós</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.softlog.eti.br/contato" style="background: transparent;font-family: 'Source Sans Pro', sans-serif;font-size: 1.1rem;color: rgb(7,132,184);" target="_blank"> Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="justify-content-xl-center header-blue" style="padding-bottom: 0px;padding-top: 0px;background: #2a3f54;">
            <div class="container-fluid m-auto hero" style="margin: 0px;margin-top: 0px;padding: 0px;">
                <div class="row" style="margin: 0px;">
                    <div class="col-12 col-lg-6 align-self-center" data-aos="fade-right" data-aos-duration="2500" style="padding: 20px 60px;">
                        <p style="margin-top: 20px;font-size: 3REM;margin-bottom: 10px;color: rgb(244,244,244);line-height: 3.5REM;font-family: Anton, sans-serif;">FINANCEIRO E EMISSÃO DE CT-e, MDF-e E NFe, DE FORMA SIMPLES E RÁPIDA!<br></p>
                        <p style="font-size: 1.4REM;line-height: 1.7REM;color: rgb(244,244,244);">O Software NFASoft Light é um pacote de software para empresas de transporte com uma excelente relação Custo X Benefício. É composto por módulos operacional, fiscal, financeiro, relatórios e entre outros.<br></p><a class="btn btn-dark btn-lg pulse animated infinite action-button"
                            role="button" href="#cta">ADQUIRIR AGORA!</a></div>
                    <div class="col-lg-6 d-lg-inline phone-holder" style="padding: 0px;padding-right: 0px;">
                        <div data-aos="fade-left" data-aos-duration="2500"><img class="img-fluid" src="/static/assets/img/791shots_so.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="operacional" class="content-section" style="padding-top: 3rem;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-lg-8 d-flex flex-column align-self-center" data-aos="fade-right">
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center">
                            <h1 class="display-4" style="color: #2a3f54;font-family: 'Source Sans Pro', sans-serif;font-weight: normal;">Módulo Operacional<br></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center" style="padding: 15px;"><a class="btn btn-lg pulse animated infinite action-button" role="button" href="#cta" style="background: rgba(40,167,69,0);border-color: #2a3f54;border-radius: 25px;color: #2a3f54;">ADQUIRIR AGORA!</a></div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-inline visible"><img class="img-fluid" data-aos="fade-left" src="/static/assets/img/22shots_so%20(1).png"></div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%2010.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Muito mais agilidade!</strong><br></h4>
                            <p style="padding: 20px;padding-bottom: 0;padding-top: 5px;">Nosso módulo operacional conta com o&nbsp;<strong>cadastro&nbsp;</strong>dos clientes, motoristas, transportadores, veículos, filiais e rotas. Com isso em mãos a<strong>&nbsp;emissão de todos documentos</strong>&nbsp;são feitas
                                de forma muito mais<strong>&nbsp;rápida e simplificada</strong>.&nbsp;<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%209.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Assistente de Frete otimizado.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">Gere seus fretes mais rápido com os&nbsp;<strong>cálculos automatizados.&nbsp;</strong>Além disso, você sera capaz de&nbsp;<strong>gerar diversos CT-e ao mesmo tempo.</strong><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%203.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Emissão e gerenciamento simplificado.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">Emita e gerencie NF-e, CT-e e MDF-e de forma simples e mantenha tudo&nbsp;<strong>salvo automaticamente por até 5 anos.</strong>&nbsp;<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%206.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Importação de dados&nbsp;automática.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;"><strong>Ganhe tempo.</strong>&nbsp;Faça a importação pelo XML da NF-e, Site da SEFAZ, NOTIFIS, e outros formatos.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%204.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Envio automático do XML</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">Envie automaticamente os XML para os endereços cadastrados envolvidos.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%207.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>SINTEGRA e SPED</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">Gere arquivos para SINTEGRA e SPED e&nbsp;<br>diversos relatórios formatados e exportável para Excel.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="financeiro" class="content-section" style="padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-lg-4 d-none d-lg-inline visible"><img class="img-fluid" data-aos="fade-right" src="/static/assets/img/568shots_so.png"></div>
                <div class="col-lg-8 d-flex flex-column align-self-center" data-aos="fade-left">
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center">
                            <h1 class="display-4" style="color: #2a3f54;font-family: 'Source Sans Pro', sans-serif;font-weight: normal;">Módulo Financeiro<br></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center" style="padding: 15px;"><a class="btn btn-success btn-lg pulse animated infinite action-button" role="button" href="#cta" style="background: rgba(40,167,69,0);border-color: #2a3f54;border-radius: 25px;color: #2a3f54;">ADQUIRIR AGORA!</a></div>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%202.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Movimento de conta corrente e caixa.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">&nbsp; Tenha<strong> total controle</strong> dos lançamentos das contas correntes e caixa local direto no sistema.&nbsp;Integração total com contas a pagar e receber.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%2012.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Registro de Contas a Pagar auditado.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">&nbsp; Tenha sempre o controle financeiro em mãos, <strong>evitando evasão de recursos</strong> por eventuais erros de&nbsp;lançamento.Dê permissão apenas para os usuários que poderão lançar contas a pagar no sistema.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-left" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%2011.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Geração Automatizada de Faturas.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;"><strong>Gere todas as faturas </strong>de sua empresa, podendo separá-las por <strong>diferentes frequências</strong> (diária, semanal, mensal, especial, etc). <strong>Faz separação de frete</strong> CIF, FOB, e muito mais.<br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%201.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Arquivo de Remessa e Retorno Bancário.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">&nbsp; Gere e Transfira arquivos de remessas para registro de suas cobranças em banco. Processe os&nbsp;arquivos de retorno para as ocorrências em seus títulos.<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%208.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Boletos Bancários</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;"><strong>Gere boletos bancários</strong> de acordo com as carteiras de cobrança definidas no sistema. Gerenciamento com <strong>integração bancária a inúmeras carteiras</strong> com suporte para praticamente todas.&nbsp;<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-right" style="padding-bottom: 3rem;">
                    <div class="text-center profile-card" style="margin:15px;background-color:#ffffff;">
                        <div><img class="img-fluid" src="/static/assets/img/Prancheta%205.png" width="64px">
                            <h4 style="margin: 8px 0px 0px 0px;color: #2a3f54;"><strong>Suporte especializado.</strong><br></h4>
                            <p style="padding:20px;padding-bottom:0;padding-top:5px;">Tenha <strong>suporte ilimitado e especializado</strong> pronto pra te atender em qualquer dúvida ou problema que tiver.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cta" class="content-section" style="padding: 0px;margin-top: 3rem;">
        <div class="container">
            <div class="row">
                <div class="col text-center" style="margin-right: 3rem;margin-left: 3rem;">
                    <h4 class="text-center" style="margin: 1rem;font-size: 21px;font-weight: normal;"><br>&nbsp;NFASoft Light é uma excelente <strong>ferramenta de gestão para empresas </strong>de pequeno a médio porte, plenamente <strong>capaz de gerir os processos operacionais e financeiros da sua empresa com facilidade e AGILIDADE.&nbsp;</strong><br></h4>
                    <img
                        class="img-fluid" src="/static/assets/img/Marca%20NFA%20Soft%20(%20horizontal%20cor%20sólida%20).png" width="500"></div>
            </div>
            <div class="row" data-aos="fade-up"><div class="container">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
    <script type='text/javascript'></script>
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-adjust"></i> -->
                            <h3 class="price-value"> LIGHT 450</h3> 
                            <div class="price-value"> R$ 546,00 <span class="month">/mês</span> </div>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <hr>
                                <li><b>450</b> Documentos por mês</li>
                                <hr>
                                <li>Financeiro: Bancos, Caixa, Contas a Pagar Contas a Receber</li>
                                <hr>
                                <li>Faturamento: Gerar Faturas, Boletos, Remessas e Retorno Bancário</li>
                                <hr>
                                <li><b>Averbação Eletrônica Automática</b></li>
                                <hr>
                                <li><b>Ilimitados</b> documentos armazenados</li>
                                <hr>
                                <li><b>Usuários</b> 12</li>
                                <hr>
                                <li><b>Máquinas </b> ilimitadas</li>
                                <hr>
                                <li><b>Suporte</b> Online ilimitado</li>
                                <hr>
                                <li><b>Adesão</b> R$ 1.872,00</li>
                            </ul>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="http://www.softlog.eti.br/assinarlight450">Assinar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable green">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-briefcase"></i> -->
                            <h3 class="price-value">LIGHT 800</h3>
                            <div class="price-value"> R$ 858,00 <span class="month">/mês</span> </div>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <hr>
                                <li><b>800</b> Documentos por mês</li>
                                <hr>
                                <li>Financeiro: Bancos, Caixa, Contas a Pagar Contas a Receber</li>
                                <hr>
                                <li>Faturamento: Gerar Faturas, Boletos, Remessas e Retorno Bancário</li>
                                <hr>
                                <li><b>Averbação Eletrônica Automática</b></li>
                                <hr>
                                <li><b>Ilimitados</b> documentos armazenados</li>
                                <hr>
                                <li><b>Usuários</b> 12</li>
                                <hr>
                                <li><b>Máquinas </b> ilimitadas</li>
                                <hr>
                                <li><b>Suporte</b> Online ilimitado</li>
                                <hr>
                                <li><b>Adesão</b> R$ 1.872,00</li>
                            </ul>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="http://www.softlog.eti.br/assinarlight800">Assinar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-diamond"></i> -->
                            <h3 class="price-value">LIGHT 1500</h3>
                            <div class="price-value"> R$ 1092,00 <span class="month">/mês</span> </div>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <hr>
                                <li><b>1500</b> Documentos por mês</li>
                                <hr>
                                <li>Financeiro: Bancos, Caixa, Contas a Pagar Contas a Receber</li>
                                <hr>
                                <li>Faturamento: Gerar Faturas, Boletos, Remessas e Retorno Bancário</li>
                                <hr>
                                <li><b>Averbação Eletrônica Automática</b></li>
                                <hr>
                                <li><b>Ilimitados</b> documentos armazenados</li>
                                <hr>
                                <li><b>Usuários</b> 12</li>
                                <hr>
                                <li><b>Máquinas </b> ilimitadas</li>
                                <hr>
                                <li><b>Suporte</b> Online ilimitado</li>
                                <hr>
                                <li><b>Adesão</b> R$ 1.872,00</li>
                            </ul>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="http://www.softlog.eti.br/assinarlight1500">Assinar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable red">
                        <div class="pricingTable-header">
                            <!-- <i class="fa fa-cube"></i> -->
                            <h3 class="price-value">LIGHT 2500</h3>
                            <div class="price-value"> R$ 1326,00 <span class="month">/mês</span> </div>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <hr>
                                <li><b>2500</b> Documentos por mês</li>
                                <hr>
                                <li>Financeiro: Bancos, Caixa, Contas a Pagar Contas a Receber</li>
                                <hr>
                                <li>Faturamento: Gerar Faturas, Boletos, Remessas e Retorno Bancário</li>
                                <hr>
                                <li><b>Averbação Eletrônica Automática</b></li>
                                <hr>
                                <li><b>Ilimitados</b> documentos armazenados</li>
                                <hr>
                                <li><b>Usuários</b> 12</li>
                                <hr>
                                <li><b>Máquinas </b> ilimitadas</li>
                                <hr>
                                <li><b>Suporte</b> Online ilimitado</li>
                                <hr>
                                <li><b>Adesão</b> R$ 1.872,00</li>
                            </ul>
                        </div>
                        <div class="pricingTable-signup">
                            <a href="http://www.softlog.eti.br/assinarlight2500">Assinar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
        </div>
    </section>
    <div class="footer-basic" style="padding: 0px;">
        <footer style="background: rgb(42,63,84);">
            <div class="social"><a href="#" target="_blank"><i class="icon ion-social-whatsapp-outline"></i></a><a href="#" target="_blank"><i class="far fa-envelope"></i></a><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#inicio">Inicio</a></li>
                <li class="list-inline-item"><a href="http://www.softlog.eti.br/sobre-nos" target="_blank">Sobre nós</a></li>
                <li class="list-inline-item"><a href="http://www.softlog.eti.br/contato" target="_blank">Contato</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/static/assets/js/stylish-portfolio.js"></script>
</body>

</html>