{% extends "index.html" %}
{% block title %}{% endblock title %}
{% block content %}

<body>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Localizações Atuais</h2>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15"></iframe></div>
{% endblock %}